{% extends "base.html" %}

{% block staticFiles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock staticFiles %}


{% block navbar %}
<!-- top navbar start -->
<nav class="navbar navbar-expand-lg verdigris-backdrop" >
  <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('public.index') }}">{{ elements['market_name'] }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('users.login') }}">Login</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Create Account
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('users.register_customer') }}">Register Account</a></li>
                <li><a class="dropdown-item" href="{{ url_for('users.register_vendor') }}">Vendor Application</a></li>
              </ul>
            </li>
      </div>
  </div>
</nav>
{% endblock navbar %}



{% block main %}
<div class="container-sm mt-4">
    <div class="card">
        <div class="card-header align-items-center text-center">
          <h5>Register Market Account</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form.csrf_token }}    
                <fieldset>
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="form-group mb-3">
                        {{ form.public_username.label(class='form-control-label') }}
                        {% if form.public_username.errors %}
                            {{ form.public_username.label(class='form-control form-control-md is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.public_username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.public_username(class='form-control form-control-md')}}
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-3">
                        {{ form.private_username.label(class='form-control-label') }}
                        {% if form.private_username.errors %}
                            {{ form.private_username.label(class='form-control form-control-md is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.private_username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.private_username(class='form-control form-control-md')}}
                        {% endif %}
                    </div>

                    <div class="form-group mb-3">
                        {{ form.password.label(class='form-control-label') }}
                        {% if form.password.errors %}
                            {{ form.password.label(class='form-control form-control-md is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class='form-control form-control-md')}}
                        {% endif %}
                    </div>
                    
                    <div class="form-group mb-3">
                        {{ form.password_match.label(class='form-control-label') }}
                        {% if form.password_match.errors %}
                            {{ form.password_match.label(class='form-control form-control-md is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.password_match.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password_match(class='form-control form-control-md')}}
                        {% endif %}
                    </div>

                    <div class="form-group text-center mb-3">
                        {{ form.submit(class='btn btn-primary signature-color-button', style='width: 75%;') }}
                    </div>
                </fieldset>
            </form>
        </div>
      </div>
</div>


{% endblock main %}